<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
.navBg{
    background-color: #D5D5D5;
}
body{
    background-color: #EAEAEA;
    margin: auto;
    background-size: cover; 
}
</style>
<html>
    <body>
        <nav class="navbar navBg navbar-expand-sm">
            <div class=" text-center" >
            <ul class="navbar-nav" >
                <li class="nav-item"><a class="nav-link text-secondary text-left" style="font-size: 30px; " href="/">python</a></li>
                <li class="nav-item"><a class="nav-link text-secondary " style="font-size:20px;  " href="/">list</a></li>
                <li class="nav-item"><a class="nav-link text-secondary " style="font-size:20px; " href="/add_msg">add</a></li>
            </ul>
            </div>
        </nav>
        <div class="container">
            <h1 class="text-center ">msg수정</h1>
        <div class="text-center" style="width: 400px; margin: auto; margin-top: 30px;">
        <form method="post" action="/update_msg">
            <div class="form-group">
                <label style="float: left;">msg_id</label>
                <input class="form-control" type="text" name="msg_id" value="{{msg[0]}}" readonly=readonly>
            </div>  
            <div class="form-group">
                <label style="float: left;">msg_text</label>
                <input class="form-control" type="text" name="msg_text" value="{{msg[1]}}">
            </div>   
            
            <button style="margin-top: 30px;" class="btn btn-secondary" type="submit">수정</button>
        </form>
        </div>
        </div>
    </body>
</html>